@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: Satoshi;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2") format("woff2");
}

@font-face {
  font-family: Georgia;
  src: url("/georgia.ttf");
}

@theme {
  --font-default: "Georgia", sans-serif; 
  --font-sans: "Satoshi"
}

@theme inline {
  --color-primary: var(--color-teal-900);
  --color-secondary: var(--color-taupe-200);
  --shadow-top: 0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 -1px 2px -1px rgb(0 0 0 / 0.1);
}
